div.apartment {
	background-image: url("lagenhet.jpg");
	height: 100vh;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}

div.textcontainer{
  background-color: rgba(230,230,230,0.7);
  width: 70vw;
  height:100vh;
  display: block;
  margin: auto;
}
