<div class="links-section section" fxLayout="column" fxLayoutAlign=" center">
	<h3 class="mat-display-3">Bra att ha länkar</h3>
	<div fxLayout="column" fxLayoutAlign=" center">
		<p>Autocompete</p>
		<div fxLayout="row wrap" fxFlex.md="70" class="card-deck-container">
       <div fxFlex *ngFor="let company of companies" class="card-item">
         <mat-card class="company-card">
	  			<mat-card-header>
	  			  <mat-card-title>{{company.name}}</mat-card-title>
	  			</mat-card-header>
	  			<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
	  			<mat-card-content>
	  			    <p>
	  			      {{company.text}}
	  			    </p>
	  			  </mat-card-content>
	  			  <mat-card-actions>
	  			    <a mat-button href={{company.url}}>Link</a>
	  			  </mat-card-actions>
	  		</mat-card>
       </div>
	</div>
</div>