<div class="links-section section" fxLayout="column" fxLayoutAlign=" center">
	<h3 class="mat-display-3">Bra-att-ha länkar</h3>
	<div fxLayout="column" fxLayoutAlign="center">
		<div fxLayout="row" fxLayoutAlign="center center">
			<mat-icon class="grey-text">search</mat-icon>
			<mat-form-field class="example-chip-list" fxFlex="100">
		    <mat-chip-list #chipList>
		        <mat-chip *ngFor="let tag of tags;let indx=index;" [ngClass]="'chip-' + tag.name" [selectable]="selectable" [removable]="removable" (removed)="remove(tag,indx)">
		            {{tag.name | titlecase}}
		            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
		        </mat-chip>
		        <input [placeholder]="placeholder" #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
		         [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
		    </mat-chip-list>
		    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
		        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
		            {{tag.name | titlecase}}
		        </mat-option>
		    </mat-autocomplete>
		</mat-form-field>
		</div>
		<div fxLayout="row wrap" fxFlex.md="70" class="card-deck-container">
       <div fxFlex *ngFor="let company of companies | filterByTags:tags" class="card-item">
         <mat-card class="company-card">
	  			<mat-card-header>
	  			  <mat-card-title>{{company.name}}</mat-card-title>
	  			  <span fxFlex></span>
	  			  <mat-chip-list>
  						<mat-chip *ngFor="let tag of company.tags" [ngClass]="'chip-' + tag">{{tag | titlecase}}</mat-chip>
						</mat-chip-list>
	  			</mat-card-header>
	  			<img mat-card-image src="{{company.pictureUrl}}" alt="Photo of a Shiba Inu">
	  			<mat-card-content>
	  			    <p>
	  			      {{company.text}}
	  			    </p>
  			  </mat-card-content>
  			  <mat-card-actions>
  			    <a mat-button href={{company.url}}>Link</a>
  			  </mat-card-actions>
	  		</mat-card>
       </div>
	</div>
</div>