.links-section {
	padding-top: 50px;
	background-color: #f5f5f5;
}

.grey-text {
	color: rgba(0,0,0,.54)
}

.company-card {
  width: 250px;
}

.card-deck-container {
  width: 70vw;
  max-width: 1200px;
  position: relative;
  border-radius: 2px;
  padding: 10px 10px 30px;
  margin: 10px 10px 10px 10px;
}

.card-item {
  padding: 3px 3px 3px 3px;
}

.chip-skola {
  background-color: #99ccff;
}

.chip-övrigt {
  background-color: #ffdd99;
}

.chip-fest {
  background-color: #f280a1;
}

.chip-boende {
  background-color: #aaff80;

}