.landing-banner {
  min-height: 90vh;
  top: 0px;
  z-index: -100000;
  background: url(../../assets/dsek_header_notext.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-title {
  color: #ffffff;
  text-align: center;
}

.intro-title.top {
/*  text-transform: uppercase;*/
  margin-top: 0.68em;
  margin-bottom: 0px
}

.start-logo {
  height: 30vh;
  width: auto;
}
