<div class="nollning">

  <div class="pictureplugg">
    </div>



	<div class=textcontainernollning fxLayout="column" fxLayoutAlign="left center">
  		<h1>Nollning</h1>
		<div fxLayout="row" fxLayoutAlign="center center">
			<p class=".mat-body" fxFlex= "70%" >
			I Lund kan det ibland vara lite knepigt att få tag på boende - som tur är har novischer (förstaårsstudenter) förtur. Kontakta AF-Bostäder, Bopoolen eller en nation direkt! Studentlund har några bra tips som gäller alla dessa alternativ, samt några andra sätt att få tag i boende. Klicka dig in där och läs på! Lyckas du ändå inte få någonstans att bo så fråga runt bland phaddrarna och äldre teknologer så kan säkert ett tillfälligt boende fixas.
			</p>
		</div>

		<div fxLayout="row" fxLayoutAlign="center center">
			<p class=".mat-body" fxFlex= "70%" >
			Studentbostäder finns på flera ställen i Lund. Närmst LTH ligger områdena Sparta, Delphi och Kämnärsrätten - här bor det massor med teknologer. Men eftersom avstånden är så korta, spelar det ingen roll var i Lund man bor.
			</p>
		</div>

		<div fxLayout="row" fxLayoutAlign="center center">
			<p class=".mat-body" fxFlex= "70%" >
			För att få stå i kö hos AF Bostäder måste man vara medlem i Akademiska Föreningen, AF. Det blir man automatiskt när man går med i en nation. Det finns dock ett undantag, Smålands nation, som inte ger AF-medlemskap, vilket kan vara bra att veta om man vill bo hos AF Bostäder.
			</p>
		</div>

		<div fxLayout="row" fxLayoutAlign="center center">
			<p class=".mat-body" fxFlex= "70%" >
			Stiftelsen Michael Hansens Kollegium står utanför AFB och här kan du därför bo i studentbostäder utan att vara medlem i en nation. Enda kravet för att få bo här är att du är student vid Lunds Universitet.
			</p>
		</div>
		<h3>Bra länkar </h3>
		<ul>
			<li>
				<a href="https://www.afbostader.se/">AFB</a>
			</li>
			<li>
				<a href="https://www.studentlund.se/"> StudentLund</a>
			</li>
		</ul>
	</div>

</div>
