<div>
  <form [formGroup]='signupForm' (ngSubmit)="PostData(signupForm)">
    <div class="form-container">
      <div class="row columns">
        <div>
          <p>
            Namn:
          <input type="text" formControlName='name' placeholder="Namn">
          </p>
        </div>
        <div>
          <br>
          <p>
            Ärrende:
            <input type="text" formControlName='errend' placeholder="Ärrende">
          </p>
        </div>
        <br>
        <div>
          <p>
            Din mail:
            <input type="text" formControlName='mail' placeholder="Din mail">
          </p>
        </div>
        <br>
        <div>
          <input type="Submit" value="Post Data">
        </div>
      </div>
    </div>
  </form>
</div>