.form{
	width: 50vw;
	height: 50%;
}

.form-container {
	background: url(../../assets/dsek_header_notext.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 76.5vh;
}