.tri-icon{
	font-size: 10em;
	max-width: 250px;
	text-align: center;
}

.icon-card{
	width: 25vw;
	margin-top: 25vh;
	margin-bottom: 25vh;
	align-content: middle;
	padding-left: 5vh;
	padding-right: 5vh;
	border: 10px transparent;

}

.icon-text{
	text-align: justify;
}

.icon-button{
	text-align: center;
}
