.tri-icon{
	font-size: 10em;
	max-width: 250px;
	margin-bottom: 1em;
	margin-left:1em;
}

a:hover{
	background-color: #f280a1;
}

.icon-card{
	width: 25vw;
	margin-top: 20vh;
	margin-bottom: 20vh;
	align-content: middle;
	padding-left: 5vh;
	padding-right: 5vh;

}

.icon-text{
	text-align: justify;
}
