<div class="section" fxLayout="column" fxLayoutAlign="center center">
	<div fxLayout="column" fxLayoutAlign="center center">
		<div fxLayout="row">

				<div fxLayout="column" fxLayoutAlign=" center" class="icon-card">
					<mat-icon class="tri-icon">face</mat-icon>
				
					<h1>
						Nollning
					</h1>
				
					<p class="icon-text">
						Nollningen är ett namn på de fem första veckorna av er tid här på LTH. Den första av dessa utspelar sig innan ordinarie undervisning börjar och det är här som aktiviteterna ligger som tätast. På dagarna ges nyttiga introduktionskurser i diverse ämnen och på kvällarna finns det roliga fritidsaktiviteter och fester att delta i. <br><br> 

						De första veckorna när man kommer till ett universitet kanske man känner sig ensam, eller så oroar man sig över om man kommer träffa några kompisar eller ej. Det är precis detta som nollningen finns här för, eftersom det är väldigt många studenter som börjar utan att känna en enda person i hela staden. Av tidigare studenters erfarenheter så träffar man ofta några av sina närmsta vänner och skapar hela umgängeskretsar under nollningen.<br><br>

					</p>
					<div fxLayout="row" fxLayoutAlign="center center">
						<a mat-raised-button href="/nollning">Läs mer om Nollning</a>
	
					</div>
									
				</div>
			
				<div fxLayout="column" fxLayoutAlign=" center" class="icon-card">
					<mat-icon class="tri-icon">create</mat-icon>
					
					<h1>
						Plugg
					</h1>
					
					<p class="icon-text">
						Stort grattis till att du har blivit antagen till Sveriges i särklass roligaste skola: LTH! För att du ska känna dig välkommen och inte alltför vilsen i början så kommer du genomgå en nollning. Den sträcker sig över de första veckorna och tillsammans kommer vi försöka se till att de här veckorna blir några av de roligaste i ditt liv. Eftersom nollningen har ett sådant fullspäckat schema så är det inte säkert att du orkar vara med på allt, och det är helt okej. Du väljer själv vilka aktiviteter du vill delta i. Något som däremot är säkert är att du kommer träffa väldigt många vänner och ha oerhört kul under tiden! <br><br>

						Uppropet kommer hållas den 27:e augusti klockan 09:15 i Kåraulan både för de som ska studera Datateknik och de som ska studera InfoCom. Kåraulan hittar du på Sölvegatan 22A. Se till att vara i tid; det är obligatoriskt att vara där för att få behålla sin plats vid utbildningen. Om du har några frågor som rör nollningen så kan du alltid höra av dig till staben@dsek.se. Väl mött!<br><br>
					</p>
					

					<div fxLayout="row" fxLayoutAlign="center center">
						<a mat-raised-button href="/plugg">Läs mer om Plugg</a>
	
					</div></div>
				
				<div fxLayout="column" fxLayoutAlign=" center" class="icon-card">
					<mat-icon class="tri-icon">home</mat-icon>
					
					<h1>
						Boende
					</h1>

					<p class="icon-text">
						I Lund kan det ibland vara lite knepigt att få tag på boende - som tur är har novischer (förstaårsstudenter) förtur. Kontakta AF-Bostäder, Bopoolen eller en nation direkt! Studentlund har några bra tips som gäller alla dessa alternativ, samt några andra sätt att få tag i boende. Klicka dig in där och läs på! Lyckas du ändå inte få någonstans att bo så fråga runt bland phaddrarna och äldre teknologer så kan säkert ett tillfälligt boende fixas. <br><br>

						Studentbostäder finns på flera ställen i Lund. Närmst LTH ligger områdena Sparta, Delphi och Kämnärsrätten - här bor det massor med teknologer. Men eftersom avstånden är så korta, spelar det ingen roll var i Lund man bor. <br><br>
					</p>
					
					<div fxLayout="row" fxLayoutAlign="center center">
						<a mat-raised-button href="/boende">Läs mer om Boende</a>
	
					</div>
				</div>
		</div>
	</div>
</div>