.top-menu {
  top: 0px;
  color: #000000 !important;
  position: absolute;
  background-color: rgba(255, 255, 255, 1) !important;
  .mat-button {
      text-transform: uppercase;
  }
  .home-button {
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: #f280a1;
  }
}
